{% extends 'base.html.twig' %}

{% block title %} Callback Generator {% endblock %}

{% block body %}
    <div class="container">
        <div>
            <!-- Content here -->
            <form id="generate-curl" autocomplete="on">
                <div class="form-group">
                    <label for="MerchantCode">MerchantCode</label>
                    <input type="text" class="form-control" id="MerchantCode" placeholder="M0283">
                </div>
                <div class="form-group">
                    <label for="TransactionID">TransactionID</label>
                    <input type="text" class="form-control" id="TransactionID" aria-describedby="TransactionIDHelp"
                           placeholder="39167064">
                    <small id="TransactionIDHelp" class="form-text text-muted">This is PayoutInvoice Id</small>
                </div>
                <div class="form-group">
                    <label for="CurrencyCode">CurrencyCode</label>
                    <input type="text" class="form-control" id="CurrencyCode" placeholder="MYR">
                </div>
                <div class="form-group">
                    <label for="Amount">Amount</label>
                    <input type="text" class="form-control" id="Amount" placeholder="16.6100">
                </div>
                <div class="form-group">
                    <label for="TransactionDatetime">TransactionDatetime</label>
                    <input type="text" class="form-control" id="TransactionDatetime"
                           placeholder="10/11/2018 11:51:56 AM">
                </div>
                <div class="form-group">
                    <label for="Status">Status</label>
                    <select class="form-control" aria-describedby="StatusHelp" id="Status">
                        <option value="000">Success</option>
                        <option value="001">Failure</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="MemberCode">MemberCode</label>
                    <input type="text" class="form-control" id="MemberCode" aria-describedby="MemberCodeHelp"
                           placeholder="30c0ebd2-e4ff-49bd-8c93-4382ca1495dc">
                    <small id="MemberCodeHelp" class="form-text text-muted">This is session Id</small>
                </div>
                <div class="form-group">
                    <label for="ID">ID</label>
                    <input type="text" class="form-control" id="ID" aria-describedby="IDHelp" placeholder="4267">
                    <small id="IDHelp" class="form-text text-muted">This is external operation ID</small>
                </div>
                <div class="form-group">
                    <label for="PayoutFee">PayoutFee</label>
                    <input type="text" class="form-control" id="PayoutFee" aria-describedby="PayoutFeeHelp"
                           placeholder="0.33">
                    <small id="PayoutFeeHelp" class="form-text text-muted">This is external payout fee</small>
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="Message">Message</label>
                    <input type="text" class="form-control" id="Message"
                           placeholder="This is message empty when success">
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="SecurityCode">SecurityCode</label>
                    <input type="text" class="form-control" id="SecurityCode"
                           placeholder="Please insert here Security Code used to sign request">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <textarea class="alert alert-success" style="display: none; margin-top: 20px; width: 100%" id="response" role="alert"></textarea>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#generate-curl').submit( function (e) {
                e.preventDefault();
                let FormData = {
                    'MerchantCode': $('#MerchantCode').val(),
                    'TransactionID': $('#TransactionID').val(),
                    'CurrencyCode': $('#CurrencyCode').val(),
                    'Amount': $('#Amount').val(),
                    'TransactionDatetime': $('#TransactionDatetime').val(),
                    'Status': $('#Status').val(),
                    'MemberCode': $('#MemberCode').val(),
                    'ID': $('#ID').val(),
                    'PayoutFee': $('#PayoutFee').val(),
                    'Message': $('#Message').val(),
                    'SecurityCode': $('#SecurityCode').val(),
                };

                $.ajax({
                    type: 'POST',
                    url: '/curl',
                    data: FormData,
                    dateType: 'json',
                }).done(function (response) {
                    let div = $('#response');
                    if(response.status === 'ok') {
                        div.text(response.curl);
                        div.show();
                    }
                });
            })
        })
    </script>
{% endblock %}